body,
html,
div {
  padding: 0px;
  margin: 0px;
}

.box {
  width: 320px;
  height: 490px;
  background: rgb(0, 174, 255);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.value {
  width: 270px;
  font-size: 36px;
  background: #4e4d4d;
  margin: 20px 5px;
  border: none;
  background-color: darkolivegreen;
  box-shadow: inset 0 0 10px #000000;
  text-align: right;
}

.boxdiv {
  width: 60px;
  height: 60px;
  background: #606060;
  color: white;
  float: left;
  margin: 5px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  font-size: 28px;
  font-family: Arial;
}

.boxdiv2 {
  width: 120px;
  height: 60px;
  background: #606060;
  color: white;
  float: left;
  margin: 5px;
  border-radius: 35px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  font-size: 28px;
  font-family: Arial;
}

/* .box div:auto {
  height: 130px;
  line-height: 130px;
  border-radius: 60px;
} */
