.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 120px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media screen and (max-width: 1920px) {
  .scrollTop {
    right: -900px;
  }
}
@media screen and (max-width: 1440px) {
  .scrollTop {
    right: -420px;
  }
}
@media screen and (max-width: 1024) {
  .scrollTop {
    right: -320px;
  }
}
@media screen and (max-width: 960px) {
  .scrollTop {
    right: -360px;
  }
}
@media screen and (max-width: 768px) {
  .scrollTop {
    right: -340px;
  }
}
@media screen and (max-width: 568px) {
  .scrollTop {
    right: -160px;
  }
}
@media screen and (max-width: 368px) {
  .scrollTop {
    right: -135px;
  }
}
