/* * {
  box-sizing: border-box;
} */

.body {
  background: #eee;
  height: auto;
  margin: 0px auto;
}

li > a:hover {
  color: #3b5998;
  text-decoration: none;
}

li > a:active {
  color: #3b5998;
  text-decoration: none;
}

.wrapper {
  max-width: 960px;
  max-height: auto;
  margin: 0 auto;
}

.logo {
  height: 68px;
}
.setting-img {
  display: none;
}

.d-flex {
  display: flex;
}

.main-heard {
  padding: 10px 0;
  background: #ffffff;
}

.main-heard li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.heardtext {
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.hiddenbox {
  width: 300px;
}

.heardright a {
  border: 1px solid red;
  margin: 10px;
}
.imgbox1 {
  margin: 0 auto;
  text-align: center;
}
.h1 {
  font-size: 32px;
  color: #fff;
}
.h3 {
  font-size: 28px;
  color: #fff;
}

.nav {
  max-width: 960px;
  height: 535px;
  background: url("images/9344.jpg") left top;
}

.nav > img {
  margin: 0 auto;
}

.nav > h1 {
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.nav > h3 {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.navbox {
  width: 480px;
  height: 50px;
  margin: 0 auto;
  padding: 3px;
  border: 4px solid pink;
}

.nav ul {
  flex: 1;
  width: 480px;
  height: 50px;
  margin: 0 auto;
  border: 5px solid pink;
}

.nav li {
  margin: 20px;
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderbox {
  width: 3px;
  height: 33px;
  margin: 5px;
  color: pink;
  background: pink;
}

.borderbox2 {
  width: 91px;
}

.icon img {
  margin-top: -45px;
}

.iconhig {
  padding-top: 48px;
}

.iconimgback {
  position: relative;
  right: -0px;
  background: lightcoral;
}

.iconback {
  margin: 0px auto;
  background: #aaa;
  align-items: center;
  justify-content: center;
}

.iconback img {
  margin: 0 auto;
}

.navtextbox {
  width: 250px;
  padding: 10px;
  margin: 0px auto;
  color: #fff;
  text-align: center;
}

.hinnerbox {
  background: rosybrown;
  border: 1px solid red;
}

.asidetop {
  margin: 0 auto;
}

.asidetop h1 {
  padding-top: 3rem;
  font-size: 2em;
  text-align: center;
}
.box4-1 img {
  width: 223px;
  height: 276px;
  margin: 0 auto;
}

.box4-2 p {
  width: 100px;
  height: 30px;
  margin: -50px auto 0px 100px;
  color: palevioletred;
  background: #fafaff;
  border: 1px solid palevioletred;
  text-align: center;
}

.box4-2 img {
  max-width: 295px;
  height: 230px;
  margin: 2px auto;
}

.box4-3 h5 {
  color: #fff;
  width: 210px;
  height: 20px;
  margin: -130px auto 0px;
  text-shadow: 3px 6px 8px rgb(0, 0, 0);
}
.btnbottom {
  float: right;
}
.btn {
  width: 65px;
  float: right;
  color: #fff;
  margin: 0px auto;
  background: palevioletred;
  border: 1px solid #fff;
  justify-content: center;
}

.box5-1 {
  margin-top: 70px;
  max-width: 1080px;
  height: 350px;
  align-items: center;
}

/*手機版面*/
.store {
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  height: 350px;
}

.storetext {
  margin: 10px;
  margin-left: 20px;
  right: 50px;
}
.storeimg {
  width: 75%;
  max-width: 300px;
}

.stoertab {
  align-items: center;
  justify-content: center;
  background: url("images/slide1.jpg");
  background-position: center;
}

.stoertab p {
  color: rgb(0, 0, 0);
  text-shadow: 2px 3px 1px #fff;
  text-align: center;
  margin: 5px auto;
}

.stoertabsize {
  margin-top: 0px;
  font-size: 5em;
}

.stoertabsize2 {
  font-size: 3em;
}

.textA {
  display: block;
  height: 80px;
  border: 2px dotted #3b5998;
}
.textti4 button {
  width: 200px;
  height: 40px;
  margin: 5px;
  opacity: 0.9;
  border: 1px solid black;
  background-color: rgb(204, 204, 204);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.footer {
  background: rgb(204, 204, 204);
  margin-top: 30px;
  text-align: center;
}

.footlistlogo {
  width: 600px;
  justify-content: center;
  align-items: center;
}

.footlist {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

.footlist img {
  height: 30px;
}

.iconsize img {
  height: 20px;
}

.footlist p {
  text-align: left;
  margin: 5px auto 10px 10px;
}

.h666 h6 {
  color: rgb(255, 107, 107);
  margin: 0px -75px;
  margin-right: 0px;
}
.footerbot {
  text-align: center;
}

@media screen and (max-width: 960px) {
  .borderbox-pp {
    width: 40px;
    color: black;
  }
  .borderbox-pp-view {
    display: none;
  }
  .h1 {
    font-size: 18px;
    color: black;
  }
  .h3 {
    font-size: 14px;
    color: black;
  }
  .setting-img {
    display: block;
    position: absolute;
    right: 1rem;
  }
  .heardtext {
    color: #fff;
    display: none;
  }
  .main-heard li a {
    color: #fff;
    display: none;
  }
  .nav {
    max-height: 300px;
    background: url("images/138974.jpg");
  }
  .iconback {
    min-height: calc(100vh -180px);
    background: black;
    display: flex;
    flex-direction: column;
  }
  .asidetop h1 {
    font-size: 24px;
  }
  .box4-1 img {
    margin: 0 auto;
  }
  .box4-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box4-2 img {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .box4-3 {
    display: flex;
    flex-direction: column;
  }
  .box4-3 h5 {
    margin-bottom: -140px;
  }
  .store {
    margin: 0px auto;
  }
  .stoertab {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .textA {
    display: none;
  }
  .footlist {
    display: flex;
    flex-direction: column;
  }
  .h666 h6 {
    margin: 0 auto;
    margin-left: 25px;
    margin-top: -24.5px;
  }
  @media screen and (max-width: 768px) {
    body {
      margin: 0 auto;
    }
    .btn-block {
      float: none;
    }
    .stoertab {
      align-items: center;
      justify-content: center;
      background: url("images/long-hair.jpg");
      background-position: top;
    }
    .footlistlogo {
      width: 400px;
      justify-content: center;
      align-items: center;
    }
    .textti4 button {
      width: 160px;
    }
  }
  @media screen and (max-width: 578px) {
    .imgbox1 {
      width: calc(50% - 60px);
    }
    .navbox {
      font-size: calc(80% - 9px);
      width: calc(100% - 20px);
      height: 50px;
      margin: 0 auto;
      padding: 3px;
      border: 4px solid pink;
    }
    .storetext {
      position: relative;
      padding-right: -60px;
      margin-right: -60px;
      left: -60px;
    }
  }
}
